<!-- NAVBAR KONPONDUTA -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top navbar-custom" id="navbar">

  <a class="navbar-brand" href="/index.html">Gradu Amaierako Lana</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" 
          data-target="#navbarNav" aria-controls="navbarNav" 
          aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNav">

    <ul class="navbar-nav ml-auto">

      <!-- Hasiera -->
      <li class="nav-item">
        <a class="nav-link" href="/index.html">Hasiera</a>
      </li>

      <!-- Arautegia (Dropdown) -->
      <li class="nav-item dropdown">
        <div class="btn-group">
        <a class="nav-link" href="/windows/araudia.html">Arautegia</a>

        <a class="nav-link dropdown-toggle dropdown-toggle-split" href="#" id="arautegiaDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="sr-only">Toggle Dropdown</span>
        </a>

        <div class="dropdown-menu" aria-labelledby="arautegiaDropdown">

          <a class="dropdown-item" href="/windows/araudia-infor.html">Ingenieritza Informatikako Arautegia</a>
          <a class="dropdown-item" href="/windows/araudia-ia.html">Adimen Artifizialeko Arautegia</a>

        </div>
        </div>
      </li>

      <!-- Egutegia -->
      <li class="nav-item">
        <a class="nav-link" href="/windows/egutegia.html">Egutegia</a>
      </li>

      <!-- Aurreko urteetako memoriak -->
      <li class="nav-item dropdown">
        <div class="btn-group">
        <a class="nav-link" href="/windows/memoriak.html">GrAL Memoriak</a>

        <a class="nav-link dropdown-toggle dropdown-toggle-split" href="#" id="memoriakDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="sr-only">Toggle Dropdown</span>
        </a>

        <div class="dropdown-menu" aria-labelledby="memoriakDropdown">

          <a class="dropdown-item" href="/windows/memoriak_informatika.html">Ingenieritza Informatikako Memoriak</a>
          <a class="dropdown-item" href="/windows/memoriak_ia.html">Adimen Artifizialeko Memoriak</a>

        </div>
        </div>
      </li>

      <!-- About us -->
      <li class="nav-item">
        <a class="nav-link" href="/windows/about-us.html">About us</a>
      </li>

      <!-- Autoebaluazioa -->
      <li class="nav-item">
        <a class="nav-link" href="/windows/galdetegia.html">Autoebaluazio galdetegia</a>
      </li>

    </ul>
  </div>
</nav>

<!-- NAVBAR STYLE (necesario para el efecto shrink) -->
<style>
  .navbar-custom {
    transition: all 0.3s ease;
    height: 250px;
  }

  .navbar-shrink {
    height: 50px;
  }

  .navbar-brand, .nav-link {
    line-height: 1;
  }
</style>